.link-value {
  background-color: #f9c0a8;
  margin-top: 5px;
  border-radius: 10px;
  width: 98%;
  margin-top: 10px;
  margin-left: 1%;
}

.value {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  /* justify-content: space-evenly; */
  text-decoration: none;
  border-radius: 10%;
  height: 70px;
  
}

h3 {
  color: black;
  font-family: 'Lato', sans-serif;
}

h4 {
  color: black;
  font-family: 'Lato', sans-serif;
  
}

.account {
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 15%;
  border-right: 2px solid #5ca2d1;
  line-height: 0.3;
  
  
}

.grid-button {
  padding: 5px 10px;
  background-color: #5ca2d1;
  font: 20px;
  color: white;
  border: 1px solid #5ca2d1;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.engagement {
  width: 15%;
  padding-right: 2%;
  padding-left: 1%;
  border-right: 2px solid #5ca2d1;
  line-height: 0.3;
  margin-top: 5px;
  margin-bottom: 5px;
}

.start-date {
  width: 6%;
  padding-right: 3%;
  padding-left: 1%;
  border-right: 2px solid #5ca2d1;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 0.3;
}

.end-date {
  width: 6%;
  padding-right: 3%;
  padding-left: 1%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-right: 2px solid #5ca2d1;
  line-height: 0.3;
}

.owner {
  width: 13%;
  padding-left: 1%;
  border-right: 2px solid #5ca2d1;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 0.3;
}

.revenue {
  width: 10%;
  padding-left: 1%;
  border-right: 2px solid #5ca2d1;
  line-height: 0.3;
  margin-top: 5px;
  margin-bottom: 5px;
}

.forecast {
  padding-right: 6px;
  padding-left: 20px;
  line-height: 0.3;

}

.filter-button {
  padding: 5px 10px;
  background-color: #5ca2d1;
  font-size: 20px;
  color: white;
  border: 1px solid #5ca2d1;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
