.add-form {
  background-color: #7291a3;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
}

h1 {
  margin-left: 40%;
  padding-top: 30px;
}

.form-container {
  background-color: #dbe4e7;
}

.add-form label {
  margin-right: 20px;
}

.right-form {
  margin-top: 20px;
  display: block;
  align-items: flex-start;
  width: 50%;
  padding-left: 10px;
}

.left-form {
  margin-top: 20px;
  display: block;
  padding-left: 10px;
  width: 50%;
  border-right: 3px solid #e55f4c;
}

.notes-input {
  width: 80%;
  height: 130px;
}

.form-acc {
   width: 80%;
   font-size: 25px;
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
}

.sub-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e55f4c;
  border: 1px solid #e55f4c;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}


label {
  font-size: 20px;
}

input.end-date {
  height: 30px;
  width: 61%;
}

input.start-date {
  height: 30px;
  width: 61%;
}

.success-message {
  font-size: 30px;
  color: white;
  padding: 20px 40px;
  background-color: green;
  float: left;
  margin-bottom: 30px;

}
