.header{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid orange;
  
}

.logo-title {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.logo {
  margin-right: 20px;
  margin-bottom: 10px;
}

.title {
  margin-left: 30px;
  margin-top: 15px;
  font-size: 30px;
}

.logo img {
  height: 140px;
  margin-left: 10px;
  margin-top: 10px;
}

.nav-bar a {
  text-decoration: none;
  margin-right: 20px;
  padding-left: 10px;
  border-left: 3px solid orange;
  font-size: 20px;
}
